In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [41]:
df=pd.read_csv('Copenhagen_Denmark.csv')
df.head()

,Unnamed: 0,name,last_scraped,description,neighborhood_overview,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,latitude,longitude,room_type,accommodates,bathrooms,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,availability_365,number_of_reviews,availability_eoy,number_of_reviews_ly,estimated_occupancy_l365d,estimated_revenue_l365d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count
0,0,"Beautiful, spacious, central, renovated Penthouse",24/03/2025,"Welcome to our home, we hope you will enjoy Wo...","What else is nearby?<br />To be honest, We thi...",129976,NaN,NaN,NaN,f,1.0,"['email', 'phone']",t,t,"Copenhagen, Capital Region of Denmark, Denmark",55.666602,12.555283,Entire home/apt,6,NaN,4.0,NaN,"[""Private BBQ grill: gas"", ""Essentials"", ""Smok...",NaN,3,10,3,3,10,10,3.0,10.0,0,19,0,0,0,NaN,16/08/2010,22/08/2022,4.88,4.82,4.88,4.87,4.82,4.80,4.53,NaN,f,1
1,1,"155 m2 artist flat on Vesterbro, with 2 bathrooms",24/03/2025,You enter a narrow entrance and feel the good ...,"Værnedamsvej area is super hip area, we call i...",140105,within an hour,100%,100%,t,3.0,"['email', 'phone']",t,t,"Copenhagen, V, Denmark",55.672638,12.552493,Entire home/apt,4,NaN,2.0,NaN,"[""Carbon monoxide alarm"", ""Essentials"", ""Room-...",NaN,3,5,3,3,5,5,3.0,5.0,0,84,0,3,18,NaN,23/08/2010,28/10/2024,4.91,4.96,4.93,4.88,4.91,4.89,4.70,NaN,f,2
2,2,Cozy flat for Adults/Quiet for kids,24/03/2025,Our flat is placed in a Central AND Quiet neig...,NaN,142143,NaN,NaN,NaN,f,1.0,"['email', 'phone']",t,t,NaN,55.711760,12.570910,Entire home/apt,4,NaN,2.0,NaN,"[""Free parking on premises"", ""Iron"", ""Heating""...",NaN,100,1125,100,100,1125,1125,100.0,1125.0,15,7,0,0,0,NaN,25/07/2010,15/09/2016,4.57,4.75,4.50,5.00,5.00,4.50,4.50,NaN,f,1
3,3,0 min. from everything in Cph.,24/03/2025,It doesn't get more central than this. Histori...,Area: <br />This is the eye of Cph. right betw...,122489,within an hour,100%,100%,t,1.0,"['email', 'phone']",t,t,"Copenhagen, Denmark",55.684288,12.573019,Entire home/apt,6,1.0,2.0,2.0,"[""Essentials"", ""Dishwasher"", ""Bed linens"", ""To...","$2,550.00",7,70,4,7,1125,1125,6.9,1125.0,52,34,52,10,140,357000.0,21/08/2010,21/09/2024,4.94,4.82,4.89,4.82,5.00,4.93,4.89,NaN,f,1
4,4,Stylish apartment in central Copenhagen,24/03/2025,"Big, bright, airy and attractive apartment dec...",The flat is excellently located in Islands Bry...,167511,within a few hours,100%,63%,t,1.0,"['email', 'phone']",t,t,"Copenhagen, Hovedstaden, Denmark",55.665070,12.583150,Entire home/apt,4,2.0,2.0,2.0,"[""Essentials"", ""Room-darkening shades"", ""Smoke...","$2,168.00",2,30,2,6,30,30,2.2,30.0,146,112,64,20,120,260160.0,14/08/2010,17/12/2024,4.84,4.83,4.98,4.90,4.94,4.74,4.66,NaN,f,1

In [ ]:
visualización de columnas y filas completas
pd.options.display.max_rows=None
pd.options.display.max_columns=None

In [ ]:
##creación de copia del dataframe 
data1=df.copy()

In [ ]:
##visualización de datos nulos
valores_nulos=data1.isnull().sum()
valores_nulos

Unnamed: 0                            0
name                                  0
last_scraped                          0
description                         604
neighborhood_overview             13326
host_id                               0
host_response_time                 9394
host_response_rate                 9394
host_acceptance_rate               4765
host_is_superhost                   210
host_listings_count                   5
host_verifications                    5
host_has_profile_pic                  5
host_identity_verified                5
neighbourhood                     13326
latitude                              0
longitude                             0
room_type                             0
accommodates                          0
bathrooms                          8850
bedrooms                            713
beds                               8846
amenities                             0
price                              8843
minimum_nights                        0
maximum_nights                        0
minimum_minimum_nights                0
maximum_minimum_nights                0
minimum_maximum_nights                0
maximum_maximum_nights                0
minimum_nights_avg_ntm                0
maximum_nights_avg_ntm                0
availability_365                      0
number_of_reviews                     0
availability_eoy                      0
number_of_reviews_ly                  0
estimated_occupancy_l365d             0
estimated_revenue_l365d            8843
first_review                       2964
last_review                        2964
review_scores_rating               2964
review_scores_accuracy             2965
review_scores_cleanliness          2965
review_scores_checkin              2965
review_scores_communication        2965
review_scores_location             2966
review_scores_value                2965
license                           21722
instant_bookable                      0
calculated_host_listings_count        0
dtype: int64

In [ ]:
##agrupacion neighbourhood y conteo de registros
data2=data1.groupby(['neighbourhood'])['neighbourhood'].count() 
data2

neighbourhood
 Copenhagen SV, Denmark                                                                                 1
 Copenhagen,  Zealand, Denmark                                                                          1
 Copenhagen, Denmark                                                                                    2
 København V, Denmark                                                                                   1
2000 Frederiksberg, Denmark                                                                             1
2150, Danmark, Denmark                                                                                  1
2500, København, Denmark                                                                                1
Bronshoj, Capital Region of Denmark, Denmark                                                            1
Brønshøj ,  , Denmark                                                                                   1
Brønshøj, Capital Region of Denmark, Denmark                                                            1
Brønshøj, Denmark                                                                                       2
Copenaghen V, Capital Region of Denmark, Denmark                                                        1
Copenhagen , Capital Region of Denmark, Denmark                                                         1
Copenhagen , Copenhagen, Denmark                                                                        2
Copenhagen , Danmark, Denmark                                                                           1
Copenhagen , Denmark                                                                                    5
Copenhagen , Hovedstaden, Denmark                                                                       1
Copenhagen , N, Denmark                                                                                 1
Copenhagen - Frederiksberg, Denmark                                                                     1
Copenhagen C, Denmark                                                                                   1
Copenhagen East, Denmark                                                                                1
Copenhagen N, Denmark                                                                                   4
Copenhagen N, Hovedstaten, Denmark                                                                      1
Copenhagen N.W, Capital Region of Denmark, Denmark                                                      1
Copenhagen NV, Denmark                                                                                  1
Copenhagen S , Denmark                                                                                  1
Copenhagen S, Capital Region, Denmark                                                                   1
Copenhagen S, Denmark                                                                                   7
Copenhagen S., Denmark                                                                                  1
Copenhagen SV, Denmark                                                                                  1
Copenhagen V, Capital Region of Denmark, Denmark                                                        1
Copenhagen V, Denmark                                                                                   9
Copenhagen V, københavn, Denmark                                                                        1
Copenhagen V., Denmark                                                                                  1
Copenhagen k, Hovedstaden, Denmark                                                                      1
Copenhagen v, Danmark, Denmark                                                                          1
Copenhagen Ø, Denmark                                                                                   1
Copenhagen,   , Denmark                                                                                 1
Copenhagen,  , Denmark                                                                                  1
Copenhagen,  Copenhagen V, Denmark                                                                      1
Copenhagen,  Østerbro, Denmark                                                                          1
Copenhagen, -, Denmark                                                                                  1
Copenhagen, --, Denmark                                                                                 1
Copenhagen, ., Denmark                                                                                  1
Copenhagen, 12, Denmark                                                                                 1
Copenhagen, 2300, Denmark                                                                               1
Copenhagen, Amager, Denmark                                                                             2
Copenhagen, Brønshøj, Denmark                                                                           1
Copenhagen, Buenos Aires, Denmark                                                                       1
Copenhagen, CPH, Denmark                                                                                1
Copenhagen, Capital Region of Denmark, Denmark                                                        429
Copenhagen, Capital Region, Denmark                                                                     2
Copenhagen, Capital region, Denmark                                                                     1
Copenhagen, Central Denmark Region, Denmark                                                             1
Copenhagen, Copenhagen N., Denmark                                                                      1
Copenhagen, Copenhagen S, Denmark                                                                       2
Copenhagen, Copenhagen, Sjælland, Denmark                                                               1
Copenhagen, Cph, Denmark                                                                                2
Copenhagen, DK, Denmark                                                                                 9
Copenhagen, Danmark, Denmark                                                                           25
Copenhagen, Denmark                                                                                  6566
Copenhagen, Denmark , Denmark                                                                           3
Copenhagen, Dk, Denmark                                                                                 7
Copenhagen, EU, Denmark                                                                                 1
Copenhagen, England, Denmark                                                                            3
Copenhagen, Faro, Denmark                                                                               1
Copenhagen, Frederiksberg, Denmark                                                                      1
Copenhagen, Hordaland, Denmark                                                                          1
Copenhagen, Hovedstaden, Denmark                                                                       67
Copenhagen, Hovedstatens, Denmark                                                                       1
Copenhagen, Hovendstaden, Denmark                                                                       1
Copenhagen, Ingen, Denmark                                                                              1
Copenhagen, Islands Brygge, Sjælland, Denmark                                                           1
Copenhagen, K, Denmark                                                                                 10
Copenhagen, KBH, Denmark                                                                                1
Copenhagen, Kbh V, Denmark                                                                              1
Copenhagen, Kbh, Denmark                                                                                2
Copenhagen, København , Denmark                                                                         1
Copenhagen, København K, Denmark                                                                        1
Copenhagen, København, Denmark                                                                         25
Copenhagen, København, Denmark, Denmark                                                                 1
Copenhagen, Københavns Kommune, Denmark                                                                 1
Copenhagen, Københavns kommune, Denmark                                                                 1
Copenhagen, Marche, Denmark                                                                             1
Copenhagen, N, Denmark                                                                                  9
Copenhagen, NV, Denmark                                                                                 2
Copenhagen, Niedersachsen, Denmark                                                                      1
Copenhagen, Nv, Denmark                                                                                 1
Copenhagen, Nørrebro, Copenhagen, Denmark                                                               1
Copenhagen, Nørrebro, Denmark                                                                          12
Copenhagen, Provence-Alpes-Côte d'Azur, Denmark                                                         1
Copenhagen, S, Denmark                                                                                  9
Copenhagen, S., Denmark                                                                                 1
Copenhagen, Sjælland, Denmark                                                                          10
Copenhagen, Storkøbenhavn, Denmark                                                                      1
Copenhagen, Sundby, Denmark                                                                             1
Copenhagen, Sv, Denmark                                                                                 1
Copenhagen, V, Denmark                                                                                  8
Copenhagen, VA, Denmark                                                                                 1
Copenhagen, Valby, Denmark                                                                              3
Copenhagen, Vanløse, Denmark                                                                            3
Copenhagen, Vesterbro, Denmark                                                                          5
Copenhagen, Xxx, Denmark                                                                                1
Copenhagen, Zealand, Denmark                                                                            2
Copenhagen, copenhagen, Denmark                                                                         2
Copenhagen, københavn, Denmark                                                                          1
Copenhagen, n, Denmark                                                                                  1
Copenhagen, Ø, Denmark                                                                                  5
Copenhagen, Øresund, Denmark                                                                            1
Copenhagen, Østerbro, Denmark                                                                           6
Copenhagen, Østerbro- Oesterbro, Denmark                                                                1
Danmark., Denmark                                                                                       1
Denmark                                                                                                 7
Dyssegård, Denmark                                                                                      2
Frederiksberg C, Capital Region of Denmark, Denmark                                                     1
Frederiksberg C, Copenhagen Region, Denmark                                                             1
Frederiksberg C, Copenhagen, Denmark                                                                    1
Frederiksberg C, Danmark, Denmark                                                                       1
Frederiksberg C, Denmark                                                                                5
Frederiksberg C, Dk, Denmark                                                                            1
Frederiksberg C, Hovedstaden, Denmark                                                                   2
Frederiksberg C., Denmark                                                                               1
Frederiksberg c, Denmark                                                                                1
Frederiksberg,  , Denmark                                                                               2
Frederiksberg, ., Denmark                                                                               1
Frederiksberg, Andalusia, Denmark                                                                       1
Frederiksberg, Capital Region of Denmark, Denmark                                                      45
Frederiksberg, Copenhagen, Denmark                                                                      9
Frederiksberg, DK, Denmark                                                                              1
Frederiksberg, Danmark, Denmark                                                                         4
Frederiksberg, Denmark                                                                                755
Frederiksberg, Dk, Denmark                                                                              1
Frederiksberg, Hovedstaden, Denmark                                                                     5
Frederiksberg, Kbh, Denmark                                                                             1
Frederiksberg, København, Denmark                                                                       5
Frederiksberg, Sealand, Denmark                                                                         1
Frederiksberg, Île-de-France, Denmark                                                                   1
Frederiksberg-C, Denmark                                                                                2
Griffenfeldsgade, Number 43, ground floor, Copenhagen, Region Hovedstaden, 2200, Denmark, Denmark       1
Hellerup, Capital Region of Denmark, Denmark                                                            2
Hellerup, Denmark                                                                                      20
Hellerup, VA, Denmark                                                                                   1
K, Denmark                                                                                              1
Kbh V , Danmark, Denmark                                                                                1
Kobenhavn V, Capital Region of Denmark, Denmark                                                         1
København (Nordhavn), Denmark                                                                           1
København , Denmark                                                                                     6
København , København, Denmark                                                                          1
København , V, Denmark                                                                                  1
København K,   , Denmark                                                                                1
København K, Denmark                                                                                   13
København K, København, Denmark                                                                         1
København N , Nørrebro, Denmark                                                                         1
København N, -, Denmark                                                                                 1
København N, Denmark                                                                                    5
København N, Hovedstaden, Denmark                                                                       2
København N, København, Denmark                                                                         1
København N, N, Denmark                                                                                 2
København N, Nørrebro, Denmark                                                                          1
København NV, København, Denmark                                                                        2
København S , Denmark                                                                                   1
København S, Denmark                                                                                   17
København S, Hovedstaden, Denmark                                                                       1
København SV, Denmark                                                                                  14
København SV, København, Denmark                                                                        1
København SV,, Denmark                                                                                  1
København V , Danmark, Denmark                                                                          1
København V , Denmark                                                                                   1
København V, Capital Region of Denmark, Denmark                                                         2
København V, DK, Denmark                                                                                1
København V, Denmark                                                                                   23
København V, Dk, Denmark                                                                                1
København V, København , Denmark                                                                        2
København V, København, Denmark                                                                         3
København V., Denmark                                                                                   1
København k, Denmark                                                                                    1
København k, Sjælland, Denmark                                                                          2
København s, Hovedstaden, Denmark                                                                       1
København sv, Denmark                                                                                   1
København v, Denmark                                                                                    2
København Ø, Capital Region of Denmark, Denmark                                                         1
København Ø, DK, Denmark                                                                                1
København Ø, Denmark                                                                                    7
København Ø, Hovedstaden, Denmark                                                                       1
København Ø, Zealand, Denmark                                                                           1
København ø, Denmark                                                                                    1
København, Valby, Denmark                                                                               1
København., Denmark                                                                                     1

In [ ]:
##sustitución de valores nulos en la columna neighbourhood por "Denmark, Copenhagen"
data1["neighbourhood"] =data1["neighbourhood"].fillna("Denmark, Copenhagen")

In [ ]:
##comprobacion de cambios de valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

Unnamed: 0                           0
name                                 0
last_scraped                         0
description                          0
neighborhood_overview                0
host_id                              0
host_response_time                9394
host_response_rate                9394
host_acceptance_rate              4765
host_is_superhost                  210
host_listings_count                  5
host_verifications                   5
host_has_profile_pic                 5
host_identity_verified               5
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
accommodates                         0
bathrooms                            0
bedrooms                             0
beds                                 0
amenities                            0
price                             8843
minimum_nights                       0
maximum_nights                       0
minimum_minimum_nights               0
maximum_minimum_nights               0
minimum_maximum_nights               0
maximum_maximum_nights               0
minimum_nights_avg_ntm               0
maximum_nights_avg_ntm               0
availability_365                     0
number_of_reviews                    0
availability_eoy                     0
number_of_reviews_ly                 0
estimated_occupancy_l365d            0
estimated_revenue_l365d           8843
first_review                      2964
last_review                       2964
review_scores_rating              2964
review_scores_accuracy            2965
review_scores_cleanliness         2965
review_scores_checkin             2965
review_scores_communication       2965
review_scores_location            2966
review_scores_value               2965
license                              0
instant_bookable                     0
calculated_host_listings_count       0
dtype: int64

In [ ]:
##la lógica de que cada propiedad tenga al menos un baño, por lo que se reemplazan los valores nulos por 1
data1["bathrooms"] =data1["bathrooms"].fillna(1)

In [ ]:
##los valores nulos en la columna "bedrooms" se reemplazan con el valor redondeado hacia arriba de la mitad del valor en la columna "accommodates"(capacidad)
data1.loc[data1["bedrooms"].isna(), "bedrooms"] = np.ceil(data1["accommodates"] / 2)

In [ ]:
#comprobacion de valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

Unnamed: 0                            0
name                                  0
last_scraped                          0
description                         604
neighborhood_overview             13326
host_id                               0
host_response_time                 9394
host_response_rate                 9394
host_acceptance_rate               4765
host_is_superhost                   210
host_listings_count                   5
host_verifications                    5
host_has_profile_pic                  5
host_identity_verified                5
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
accommodates                          0
bathrooms                             0
bedrooms                              0
beds                               8846
amenities                             0
price                              8843
minimum_nights                        0
maximum_nights                        0
minimum_minimum_nights                0
maximum_minimum_nights                0
minimum_maximum_nights                0
maximum_maximum_nights                0
minimum_nights_avg_ntm                0
maximum_nights_avg_ntm                0
availability_365                      0
number_of_reviews                     0
availability_eoy                      0
number_of_reviews_ly                  0
estimated_occupancy_l365d             0
estimated_revenue_l365d            8843
first_review                       2964
last_review                        2964
review_scores_rating               2964
review_scores_accuracy             2965
review_scores_cleanliness          2965
review_scores_checkin              2965
review_scores_communication        2965
review_scores_location             2966
review_scores_value                2965
license                           21722
instant_bookable                      0
calculated_host_listings_count        0
dtype: int64

In [ ]:
##meiante la lógica de que cada propiedad tenga al menos una cama, se reemplazan los valores nulos en la columna "beds" con el valor redondeado hacia arriba de la mitad del valor en la columna "accommodates"(capacidad)
data1.loc[data1["beds"].isna(), "beds"] = np.ceil(data1["accommodates"] / 2)

In [14]:
valores_nulos=data1.isnull().sum()
valores_nulos

Unnamed: 0                            0
name                                  0
last_scraped                          0
description                         604
neighborhood_overview             13326
host_id                               0
host_response_time                 9394
host_response_rate                 9394
host_acceptance_rate               4765
host_is_superhost                   210
host_listings_count                   5
host_verifications                    5
host_has_profile_pic                  5
host_identity_verified                5
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
accommodates                          0
bathrooms                             0
bedrooms                              0
beds                                  0
amenities                             0
price                              8843
minimum_nights                        0
maximum_nights                        0
minimum_minimum_nights                0
maximum_minimum_nights                0
minimum_maximum_nights                0
maximum_maximum_nights                0
minimum_nights_avg_ntm                0
maximum_nights_avg_ntm                0
availability_365                      0
number_of_reviews                     0
availability_eoy                      0
number_of_reviews_ly                  0
estimated_occupancy_l365d             0
estimated_revenue_l365d            8843
first_review                       2964
last_review                        2964
review_scores_rating               2964
review_scores_accuracy             2965
review_scores_cleanliness          2965
review_scores_checkin              2965
review_scores_communication        2965
review_scores_location             2966
review_scores_value                2965
license                           21722
instant_bookable                      0
calculated_host_listings_count        0
dtype: int64

In [ ]:
###los valores nulos en las columnas "license", "description" y "neighborhood_overview" se reemplazan por "No tiene licencia", "No tiene descripción" y "No tiene descripción del vecindario", respectivamente. Porque son campos de texto y es preferible tener una indicación clara de que no hay información disponible en lugar de dejar el campo vacío.
data1["license"] =data1["license"].fillna("No tiene licencia")
data1["description"] =data1["description"].fillna("No tiene descripción") 
data1["neighborhood_overview"] =data1["neighborhood_overview"].fillna("No tiene descripción del vecindario")

In [ ]:
##agrupacion room_type y conteo de registros
data2=data1.groupby(['room_type'])['room_type'].count() 
data2

room_type
Entire home/apt    19829
Hotel room             4
Private room        1878
Shared room           11
Name: room_type, dtype: int64

In [ ]:
##conversión de la columna price a tipo float, eliminando el símbolo de dólar y las comas
data1["price"] = data1["price"].replace(r'[\$,]', '', regex=True).astype(float)

In [ ]:
##cálculo del promedio de la columna price agrupado por room_type
prom_por_tipo = data1.groupby("room_type")["price"].mean().reset_index()
print("Promedio por room_type:\n",prom_por_tipo)

Promedio por room_type:
          room_type        price
0  Entire home/apt  1356.950431
1       Hotel room   973.500000
2     Private room   627.344677
3      Shared room   422.875000

In [ ]:
###cálculo del promedio de la columna price agrupado por room_type y accommodates
prom_por_tipo_bath = (data1.groupby(["room_type", "accommodates"], dropna=False)["price"].mean().reset_index())
print(prom_por_tipo_bath.head(20))

          room_type  accommodates        price
0   Entire home/apt             1  1088.089286
1   Entire home/apt             2  1063.497481
2   Entire home/apt             3  1161.013736
3   Entire home/apt             4  1449.923938
4   Entire home/apt             5  1646.360689
5   Entire home/apt             6  1892.017029
6   Entire home/apt             7  2011.557895
7   Entire home/apt             8  2223.646586
8   Entire home/apt             9  2406.928571
9   Entire home/apt            10  2742.734375
10  Entire home/apt            11  2490.666667
11  Entire home/apt            12  3330.187500
12  Entire home/apt            13  1921.666667
13  Entire home/apt            14  1382.500000
14  Entire home/apt            15  2800.000000
15  Entire home/apt            16  4500.000000
16       Hotel room             1   200.000000
17       Hotel room             4  1152.000000
18       Hotel room             6  1390.000000
19     Private room             1   526.779661

In [ ]:
###los valores nulos en la columna price se reemplazan por el promedio de la columna price agrupado por room_type
data1["price"] = data1["price"].fillna(
    data1.groupby("room_type")["price"].transform("mean"))

In [ ]:
# Si no hay dato de superhost/ no es superhost
data1["host_is_superhost"] = data1["host_is_superhost"].fillna("f")

# Reglas si es superhost
data1.loc[data1["host_is_superhost"] == "t", "host_response_time"] = "within a few hours"
data1.loc[data1["host_is_superhost"] == "t", "host_acceptance_rate"] = \
    data1.loc[data1["host_is_superhost"] == "t", "host_acceptance_rate"].fillna(100)

# Reglas si NO es superhost
data1.loc[data1["host_is_superhost"] == "f", "host_response_time"] = "within a few days or more"
data1.loc[data1["host_is_superhost"] == "f", "host_acceptance_rate"] = \
    data1.loc[data1["host_is_superhost"] == "f", "host_acceptance_rate"].fillna(0)

In [31]:
# Quitar el "%" si viene en string y convertir a numérico
data1["host_response_rate"] = data1["host_response_rate"].astype(str).str.replace("%", "")
data1["host_response_rate"] = pd.to_numeric(data1["host_response_rate"], errors="coerce")

# Calcular media ignorando NaN
mean_response_rate = data1["host_response_rate"].mean()

# Rellenar los NaN con la media
data1["host_response_rate"].fillna(mean_response_rate, inplace=True)

C:\Users\jaque\AppData\Local\Temp\ipykernel_17904\856164744.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data1["host_response_rate"].fillna(mean_response_rate, inplace=True)

In [32]:
valores_nulos=data1.isnull().sum()
valores_nulos

Unnamed: 0                           0
name                                 0
last_scraped                         0
description                          0
neighborhood_overview                0
host_id                              0
host_response_time                   0
host_response_rate                   0
host_acceptance_rate                 0
host_is_superhost                    0
host_listings_count                  5
host_verifications                   5
host_has_profile_pic                 5
host_identity_verified               5
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
accommodates                         0
bathrooms                            0
bedrooms                             0
beds                                 0
amenities                            0
price                                0
minimum_nights                       0
maximum_nights                       0
minimum_minimum_nights               0
maximum_minimum_nights               0
minimum_maximum_nights               0
maximum_maximum_nights               0
minimum_nights_avg_ntm               0
maximum_nights_avg_ntm               0
availability_365                     0
number_of_reviews                    0
availability_eoy                     0
number_of_reviews_ly                 0
estimated_occupancy_l365d            0
estimated_revenue_l365d           8843
first_review                      2964
last_review                       2964
review_scores_rating              2964
review_scores_accuracy            2965
review_scores_cleanliness         2965
review_scores_checkin             2965
review_scores_communication       2965
review_scores_location            2966
review_scores_value               2965
license                              0
instant_bookable                     0
calculated_host_listings_count       0
dtype: int64

In [ ]:
##relleno de valores nulos restantes en columnas relacionadas con el anfitrión
data1["host_listings_count"] =data1["host_listings_count"].fillna(99)
data1["host_verifications"] =data1["host_verifications"].fillna("no tiene verificación")
data1["host_has_profile_pic"] =data1["host_has_profile_pic"].fillna("no tiene foto de perfil")
data1["host_identity_verified"] =data1["host_identity_verified"].fillna("no está verificado")

In [57]:
valores_nulos=data1.isnull().sum()
valores_nulos

Unnamed: 0                           0
name                                 0
last_scraped                         0
description                          0
neighborhood_overview                0
host_id                              0
host_response_time                   0
host_response_rate                   0
host_acceptance_rate                 0
host_is_superhost                    0
host_listings_count                  0
host_verifications                   0
host_has_profile_pic                 0
host_identity_verified               0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
accommodates                         0
bathrooms                            0
bedrooms                             0
beds                                 0
amenities                            0
price                                0
minimum_nights                       0
maximum_nights                       0
minimum_minimum_nights               0
maximum_minimum_nights               0
minimum_maximum_nights               0
maximum_maximum_nights               0
minimum_nights_avg_ntm               0
maximum_nights_avg_ntm               0
availability_365                     0
number_of_reviews                    0
availability_eoy                     0
number_of_reviews_ly                 0
estimated_occupancy_l365d            0
estimated_revenue_l365d              0
first_review                         0
last_review                          0
review_scores_rating              2964
review_scores_accuracy            2965
review_scores_cleanliness         2965
review_scores_checkin             2965
review_scores_communication       2965
review_scores_location            2966
review_scores_value               2965
license                              0
instant_bookable                     0
calculated_host_listings_count       0
estimated_revenie_l365d              0
dtype: int64

In [ ]:
##relleno de valores nulos en columnas relacionadas con las reseñas,, calculo de el revenue estimado mediante el precio y la ocupación estimada en los últimos 365 días 
data1["first_review"] =data1["first_review"].fillna("01/01/1900")
data1["last_review"] =data1["last_review"].fillna("01/01/2100")
data1["estimated_revenue_l365d"]=(data1["price"]*data1["estimated_occupancy_l365d"])

In [55]:
##comprobación de datos 
data1[["price", "estimated_occupancy_l365d", "estimated_revenue_l365d"]].head()

         price  estimated_occupancy_l365d  estimated_revenue_l365d
0  1356.950431                          0                 0.000000
1  1356.950431                         18             24425.107755
2  1356.950431                          0                 0.000000
3  2550.000000                        140            357000.000000
4  2168.000000                        120            260160.000000

In [ ]:
##relleno de valores nulos con el valor 0 debido a escala likert de 1 al 5 en columnas relacionadas con las reseñas 
data1["review_scores_rating"] =data1["review_scores_rating"].fillna(0)
data1["review_scores_cleanliness"] =data1["review_scores_cleanliness"].fillna(0)
data1["review_scores_checkin"] =data1["review_scores_checkin"].fillna(0)
data1["review_scores_communication"] =data1["review_scores_communication"].fillna(0)
data1["review_scores_location"] =data1["review_scores_location"].fillna(0)
data1["review_scores_value"] =data1["review_scores_value"].fillna(0)
data1["review_scores_accuracy"] =data1["review_scores_accuracy"].fillna(0)

In [50]:
data1.head()

,Unnamed: 0,name,last_scraped,description,neighborhood_overview,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,latitude,longitude,room_type,accommodates,bathrooms,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,availability_365,number_of_reviews,availability_eoy,number_of_reviews_ly,estimated_occupancy_l365d,estimated_revenue_l365d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,estimated_revenie_l365d
0,0,"Beautiful, spacious, central, renovated Penthouse",24/03/2025,"Welcome to our home, we hope you will enjoy Wo...","What else is nearby?<br />To be honest, We thi...",129976,within a few days or more,90.660123,0,f,1.0,"['email', 'phone']",t,t,"Copenhagen, Capital Region of Denmark, Denmark",55.666602,12.555283,Entire home/apt,6,1.0,4.0,3.0,"[""Private BBQ grill: gas"", ""Essentials"", ""Smok...",1356.950431,3,10,3,3,10,10,3.0,10.0,0,19,0,0,0,0.000000e+00,16/08/2010,22/08/2022,4.88,4.82,4.88,4.87,4.82,4.80,4.53,No tiene licencia,f,1,0.000000e+00
1,1,"155 m2 artist flat on Vesterbro, with 2 bathrooms",24/03/2025,You enter a narrow entrance and feel the good ...,"Værnedamsvej area is super hip area, we call i...",140105,within a few hours,100.000000,100%,t,3.0,"['email', 'phone']",t,t,"Copenhagen, V, Denmark",55.672638,12.552493,Entire home/apt,4,1.0,2.0,2.0,"[""Carbon monoxide alarm"", ""Essentials"", ""Room-...",1356.950431,3,5,3,3,5,5,3.0,5.0,0,84,0,3,18,8.915164e+06,23/08/2010,28/10/2024,4.91,4.96,4.93,4.88,4.91,4.89,4.70,No tiene licencia,f,2,8.915164e+06
2,2,Cozy flat for Adults/Quiet for kids,24/03/2025,Our flat is placed in a Central AND Quiet neig...,No tiene descripción del vecindario,142143,within a few days or more,90.660123,0,f,1.0,"['email', 'phone']",t,t,"Denmark, Copenhagen",55.711760,12.570910,Entire home/apt,4,1.0,2.0,2.0,"[""Free parking on premises"", ""Iron"", ""Heating""...",1356.950431,100,1125,100,100,1125,1125,100.0,1125.0,15,7,0,0,0,0.000000e+00,25/07/2010,15/09/2016,4.57,4.75,4.50,5.00,5.00,4.50,4.50,No tiene licencia,f,1,0.000000e+00
3,3,0 min. from everything in Cph.,24/03/2025,It doesn't get more central than this. Histori...,Area: <br />This is the eye of Cph. right betw...,122489,within a few hours,100.000000,100%,t,1.0,"['email', 'phone']",t,t,"Copenhagen, Denmark",55.684288,12.573019,Entire home/apt,6,1.0,2.0,2.0,"[""Essentials"", ""Dishwasher"", ""Bed linens"", ""To...",2550.000000,7,70,4,7,1125,1125,6.9,1125.0,52,34,52,10,140,1.303050e+08,21/08/2010,21/09/2024,4.94,4.82,4.89,4.82,5.00,4.93,4.89,No tiene licencia,f,1,1.303050e+08
4,4,Stylish apartment in central Copenhagen,24/03/2025,"Big, bright, airy and attractive apartment dec...",The flat is excellently located in Islands Bry...,167511,within a few hours,100.000000,63%,t,1.0,"['email', 'phone']",t,t,"Copenhagen, Hovedstaden, Denmark",55.665070,12.583150,Entire home/apt,4,2.0,2.0,2.0,"[""Essentials"", ""Room-darkening shades"", ""Smoke...",2168.000000,2,30,2,6,30,30,2.2,30.0,146,112,64,20,120,9.495840e+07,14/08/2010,17/12/2024,4.84,4.83,4.98,4.90,4.94,4.74,4.66,No tiene licencia,f,1,9.495840e+07

In [ ]:
##visualización de datos nulos
valores_nulos=data1.isnull().sum()
valores_nulos

Unnamed: 0                        0
name                              0
last_scraped                      0
description                       0
neighborhood_overview             0
host_id                           0
host_response_time                0
host_response_rate                0
host_acceptance_rate              0
host_is_superhost                 0
host_listings_count               0
host_verifications                0
host_has_profile_pic              0
host_identity_verified            0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
accommodates                      0
bathrooms                         0
bedrooms                          0
beds                              0
amenities                         0
price                             0
minimum_nights                    0
maximum_nights                    0
minimum_minimum_nights            0
maximum_minimum_nights            0
minimum_maximum_nights            0
maximum_maximum_nights            0
minimum_nights_avg_ntm            0
maximum_nights_avg_ntm            0
availability_365                  0
number_of_reviews                 0
availability_eoy                  0
number_of_reviews_ly              0
estimated_occupancy_l365d         0
estimated_revenue_l365d           0
first_review                      0
last_review                       0
review_scores_rating              0
review_scores_accuracy            0
review_scores_cleanliness         0
review_scores_checkin             0
review_scores_communication       0
review_scores_location            0
review_scores_value               0
license                           0
instant_bookable                  0
calculated_host_listings_count    0
estimated_revenie_l365d           0
dtype: int64

In [ ]:
##descarga del archivo 
data1.to_csv("Copenhagen_Denmark_sinvaloresnulos.csv")